* {
    background-color: rgb(26, 10, 41);
}

h1 {
    font-size: 80px;
    text-align: center;
    margin: 10px 0 0 0;
    color: white;
    font-family: 'Cinzel', serif;
}

h3 {
    font-size: 25px;
    text-align: center;
    margin: 0 0 0 0;
    color: white;
    font-family: 'Cinzel', serif;
}

a {
    color: white;
    font-family: 'Darker Grotesque', sans-serif;
}

h4 {
    color: white;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .5fr .5fr 1fr 1fr;
}

header {
    grid-column: 1 / span 4;
    margin-bottom: 80px;
}

.contact-container{
    grid-column: 1;
    grid-row: 2 / span 3;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contact-container h4 {
    display: inline-block;
    margin: 10px 0 20px 0;
}

.icon {
    width: 40px;
    margin: 0 auto 0 auto;
}

.about-me {
    grid-column: 2 / span 2;
    grid-row: 2;
    color: white;
    margin: 0 50px 0 50px
}

.about-me p {
    margin: 0 0 0 0;
    font-size: 25px;
    font-family: 'Darker Grotesque', sans-serif;
}

.skills {
    color: white;
    margin-left: 20px;
    grid-column: 4;
    grid-row: 2 / span 3;
    font-family: 'Darker Grotesque', sans-serif;
}

.skills h2 {
    margin: 0 0 10px 0;
    font-size: 30px;
}

.skills li {
    font-size: 25px;
}

.projects {
    grid-column: 2 / span 2;
    grid-row: 3 / span 2;
    display: flex;
    text-align: center;
}

.screenshot {
    max-width: 75%;
    margin-top: 30px;
    border-radius: 15px;
}